@using OnlineShopping.Web.ViewModels;
@using OnlineShopping.Web.Models;
@model ViewModel<CustomerModel>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table id="example" class="table table-striped table-bordered tbl" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
            <th>Phonenumber</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td>@item.No</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td><a asp-controller="Customer" asp-action="SaveCustomer" asp-route-id="@item.Id" class="btn btn-primary bgupdate" id="btnUpdate"><i class='fas fa-download'></i> Update</a></td>
                <td><button class="btn btn-danger bgdelete" onclick="ShowDeleteModal(@item.Id)" data-toggle="modal" data-id="@item.Id" data-target="#DelModal" id="btnDel"><i class='fas fa-trash-alt'></i> Delete</button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
            <th>Phonenumber</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<a class="btn btn-primary bgupdate" asp-controller="Customer" asp-action="SaveCustomer" id="myBtnAdd"><i class='fas fa-download'></i> Add</a>

<!-- The Modal -->
<div class="modal fade" id="DelModal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete row</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div style="overflow-x:auto;" class="modal-body ">
                <p>Are you sure to delete this row?</p>
            </div>

            <div class="modal-footer">
                <form asp-controller="Customer" asp-action="Delete" method="post">
                    <input asp-for="DeletedId" id="deletedId" hidden />
                    <button type="submit" class="btn btn-primary bgupdate">Yes</button>
                    <button type="button" class="btn btn-danger bgdelete" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>